{% extends "base.html" %}
{% load widget_tweaks %}
{% block contents %}
<div class="main-contents">
    <div class="section-header">
	    <p class=section-title>Bussell Performance Metrics</p>
    </div>
    <div class="data-container">
	    <div class="data-section">
		    <div class="data-section-data">
			    <div class="form-group col-md-4">
				    <label class="control-label" for="id_bussell">Select Bussell:</label>
				   {% render_field form.bussell class+="form-control" %} 
			    </div>
			    <div class="col-md-4"></div>
			    <div class="form-group col-md-2">
				    <label class="control-label" for="id_from_date">Start Date:</label>
				   {% render_field form.from_date class+="form-control from_datepicker" %} 
			    </div>
			    <div class="form-group col-md-2">
				    <label class="control-label" for="id_to_date">End Date:</label>
				   {% render_field form.to_date class+="form-control to_datepicker" %} 
			    </div>
		    </div>

		    <div id="chart-container" style="position: relative, height:80vh, width=100vw, margin: 20px">
			      <canvas id="chart"></canvas>
		    </div>

		    <table id="monthly-average-table" class="display" style="margin: 20px, width=100vw">
		          <thead>
		          	<tr>
		          		<th>Month</th>
		          		<th>Bussell Attendance(Average)</th>
		          		<th>Church Attendance(Average)</th>
		          		<th>Percentage</th>
		          	</tr>
		          </thead>
		    </table>
	    </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}

<script>
$(document).ready(function(){
	$("#bussells_link").addClass("active");
	chart_data = [];
	var attendanceBarChart = null;

	var attendanceTable = $("#monthly-average-table").DataTable({
                               "paging": false,
			       "ordering": false,
			       "info": false
	});

		$(".from_datepicker").datepicker({
	            changeMonth: true,
	            changeYear: false,
		    dateFormat: "yy-mm-dd",
		    defaultDate: "17-01-01",
		    maxDate:'0',
		});

		$(".to_datepicker").datepicker({
	            changeMonth: true,
	            changeYear: false,
		    dateFormat: "yy-mm-dd",
		    defaultDate: new Date(),
		    maxDate:'0',
		});

		$("#id_bussell").on('change', function(e) {
			var bussell_id = this.value;
			$.ajax({
			    type: 'GET',
			    url: "{% url 'bussel:bussell-performance-json' %}",
			    data: {pk: bussell_id},
			    dataType: 'json',
			    success: function(data) {
				    $('#chart').remove();
				    $('#chart-container').append('<canvas id="chart"></canvas>')
				    chart_data = data;
				    drawChart();

				    $.ajax({
				       type: 'GET',
				       url: "{% url 'bussel:bussell-performance-monthly-json'%}",
				       data: {pk: bussell_id},
				       dataType: 'json',
				       success: function(data)  {
					       attendanceTable.clear();
					       console.log(data);
					       attendanceTable.rows.add(data);
					       attendanceTable.draw();
					           
				       },
       				       
				       beforeSend: function(){
					    $('#monthly-average-table').LoadingOverlay("show");
				       },

				       complete: function(){
					    $('#monthly-average-table').LoadingOverlay("hide");
				       }
					    
				     });

				    },

			    beforeSend: function(){
			            $('#chart-container').LoadingOverlay("show");
			    },

			    complete: function(){
			            $('#chart-container').LoadingOverlay("hide");
			    }
		        });
		});
})
function drawChart() {
	var ctx = document.getElementById("chart").getContext("2d");
	var data = {
		labels : chart_data[0],
		datasets: [
	        {
			label: "bussel attendance",
		        borderColor: "#bce0ba",
			backgroundColor: "#bce0ba",
			data: chart_data[1] 
		},	
	        {
			label: "church attendance",
		        borderColor: "#e6b795",
			backgroundColor: "#e6b795",
			data:  chart_data[2]
		},	
		]
	}
	var attendanceBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
	            scales: {
			  yAxes: [{
			      ticks: {
				 max: 20,
				 min: 0,
				 stepSize: 1
			      },
			      scaleLabel: {
				 display: true,
				 labelString: 'Attendance'
			      }
			  }]
		    }
	    }	    
	});
     
}
</script>
{% endblock %}
