{% extends "base.html" %}
{% load widget_tweaks %}
{% block contents %}
<div class="main-contents">
    <div class="section-header">
	    <p class=section-title>Bussell Performance Metrics</p>
    </div>
    <div class="data-container">
	    <div class="data-section">
		    <div class="data-section-data">
			    <div class="form-group col-md-4">
				    <label class="control-label" for="id_bussell">Select Bussell:</label>
				   {% render_field form.bussell class+="form-control" %} 
			    </div>
			    <div class="col-md-4"></div>
			    <div class="form-group col-md-2">
				    <label class="control-label" for="id_from_date">Start Date:</label>
				   {% render_field form.from_date class+="form-control from_datepicker" %} 
			    </div>
			    <div class="form-group col-md-2">
				    <label class="control-label" for="id_to_date">End Date:</label>
				   {% render_field form.to_date class+="form-control to_datepicker" %} 
			    </div>
		    </div>
	    </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}

<script>
$(document).ready(function(){

		$(".from_datepicker").datepicker({
	            changeMonth: true,
	            changeYear: false,
		    dateFormat: "yy-mm-dd",
		    maxDate:'0',
		});

		$(".to_datepicker").datepicker({
	            changeMonth: true,
	            changeYear: false,
		    dateFormat: "yy-mm-dd",
		    maxDate:'0',
		});

		$("#id_bussell").on('change', function(e) {
			$.ajax({
			    type: 'GET',
			    url: "{% url 'bussels:bussell-performance-json' %}",
			    data: {pk: this.value},
			    dataType: 'json',
			    success: function(data) {
				    console.log(data)
			    }
		        });
		});
})
</script>
{% endblock %}
