{% extends "base.html" %}

{% block contents %}
<div class="main-contents">
    <div class="section-header">
	    <p class=section-title>Section Under Development</p>
    </div>
    <div class="data-container" id=>
	    <div class="under_development_div">
		    <img src="/static/under_development.png" alt="not found" height:"245" width:"300" id="under_dev_img">
		   <h2 id="under_development_string">This section is under development!</h2>
	    </div>

    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
