{% extends "base_out.html"%}
{% load widget_tweaks %}

{% block contents %}
<div class="container">
    <div id="" class="form-container compact-login-form">
    {% if form.errors %}
        <div class="title">
	    <div class="alert alert-danger" id="">
		    <p class='server-message'>Incorrect username or password</p>
	    </div>
        </div>
    {% endif %}
	    <form id="admin-login-form" action="" role="form" method="post">
		    {% csrf_token %}
                <div class="form-group">
			<label class="control-label" for="{{form.username.auto_id}}">
				{{form.username.label}}
			</label>
			        {% render_field form.username class+="form-control" %}
		</div>

		<div class="form-group">
			<label class="control-label" for="{{form.password.auto_id}}">
		        	{{form.password.label}}
			</label>
			        {% render_field form.password class+="form-control"%}
		</div>
		<div class="">
	                <button type="submit" class="btn btn-primary login-button">
		                Login
			</button> 
			<input type="hidden" name="next" value="/bussels/all/">
	    </form>


    </div>
</div>
{% endblock %}
