
html, body {
    min-height: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

.banner {
    height: 100px;
    width: 100%;
    background-color: #fbe40c;
}

.banner.out {
    height: 60px;
    margin-bottom: 100px;
}

.logo {
    margin-top: -13px;
    margin-left: -15px;
    float: left;
}

.logo.out {
    margin-left: 0px;
}

.vertical-separator {
    border-left: 3px solid #444;
    height: 80px;
    float: left;
    margin-top: 10px;
}

.vertical-separator.out {
    height: 40px;
}

.brand-name {
    font-size: 40px;
    margin-left: 120px;
}

.brand-name.out {
    margin-left: 10px;
    font-size: 30px;
    line-height: 2;
    float: left;
}

.brand-name-sub {
    font-size: 20px;
    margin-left: 120px;
}

.navigation-bar {
    height: 50px;
    background-color: #333;
}

.nav-links-wrapper {
    padding-top: 9px;
    margin-left: 180px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav-link {
    display: inline;
    margin-left: 40px;
}

li.nav-link a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 16px 16px;
    text-align: center;
    border-color: #333;
}

li.nav-link a:hover,
li.nav-link.active a {
    background: #fbe40c;
    color: #333;
}

li.nav-link a.active {
    background-color: #fbe40c;
    color: #333;
}

li.dropdown {
    display: inline-block;
    z-index: 100000;
}

.dropdown-menu>li>a {
    font-size: 18px;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
    background-color: #fbe40c;
}

div.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #333; 
}

div.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-contents {
    background-color: white;
    margin-top: 15px;
    padding-bottom: 50px;
}

.section-header {
    height: 50px;
    background-color: #333;
    color: white;
    padding-left: 20px;
    padding-top: 1px;
}

.section-title {
    font-size: 25px;
    margin-top: 5px;
    float: left;
}

.no-float {
    float: none;
}

input.search-box {
    margin-top: 5px;
    height: 35px;
    margin-left: 60px;
    width: 500px;
    font-size: 20px;
    padding-left: 5px;
    color: #333;
    float: left;
    outline: none;
    border: none;
}

input.search-box:focus {
    border: 1px solid #fbe40c;
}

.search-btn {
    color: #333;
    background-color: #fbe40c;
    border: none;
    height: 35px;
    margin-top: 5px;
    font-size: 20px;
    margin-left: -1px;
    outline: none;
    padding: 0px 10px;
    float: left;
}

.search-box#report-search {
    width: 200px;
}

.search-box#member-search {
    width: 380px;
    margin-left: 30px;
}

.section-item {
    float: left;
    font-size: 25px;
    margin-left: 60px;
    margin-top: 5px;
}

.section-item a {
    color: white;
    text-decoration: none;
}

.section-item a:hover {
    color: #fbe40c;
}

.data-container {
    width: 90%;
    clear: both;
    margin: auto;
}

.data-container#bussel_list,
.data-container#bussel_report_list {
    margin-top: 20px;
}

.badge.bussel-count,
.badge.member-count {
    background-color: #fbe40c;
    color: #333;
    font-size: 14px;
}

.form-control#saturday-combo {
    font-size: 20px;
    border-radius: 0px;
    padding-bottom: 4px;
}

.form-control#saturday-combo:focus {
    outline: none;
    border-color: #fbe40c;
}

td a {
    display: block;
    color: #333;
}

td a:link {
    text-decoration: none;
}

td a:hover,
td a:link,
td a:visited {
    color: #333;
}

.table tr[visible='false'] {
    display:none;
}

.table tr[visible='true'] {
    display: table-row;
}

.data-container {
    margin-top: 40px;
}

.container.out {
    width: 100%;
    padding: 0px;
}

.data-section {
    min-height: 100px;
    border: 1px solid #f1f1f1;
    margin-bottom: 50px;
    
}

.data-section-header {
    height: 30px;
    background-color: #f1f1f1; 
    padding-left: 10px;
    padding-top: 3px;
    font-size: 18px;
}

.data-section-data {
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.data-section-data a{
    text-decoration: none;
    color: #333;
}

.data-section-data a:hover {
    color: black;
}

.map-view {
    min-height: 400px;
    background-color: #f1f1f1;
    width: 96%;
    clear: both;
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-control {
    border-radius: 0px;
}

.form-control:focus {
    border-color: #fbe40c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,228,12,.6);
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: #333;
    border-color: #000;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #fbe40c;
    border-color: #fbe40c;
    color: #333;
    box-shadow: none;
    outline: none;
}

.btn-primary:active:focus {
    background-color: #ffd40f;
    border-color: #fbe40c;
    color: #333;
    outline: none;
}

.empty_error_div,
.under_development_div,
.access_denied_div {
    margin-bottom: 50px;
    margin-top: 50px;
    clear: both;
}

#r404_image,
#under_dev_img,
#access_denied_img {
    display: block;
    margin: 0 auto;
}

#empty_error_string,
#under_development_string,
#access_denied_string {
    text-align: center;
    margin-top: 50px;
    color: #a1a1a1;
}

#footer {
    background-color: #333;
    display: block;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.footer-contents {
    padding-top: 10px;
    font-size: 20px;
    margin: auto;
    clear: both;
}

.footer-header {
    color: #fff;
    margin-left: 40px;
    margin-bottom: 10px;
}

.footer-items {
    text-align: left;
    color: #ccc;
    font-size: 16px;
}

.footer-items li {
    margin-top: 5px;
    list-style: none;
}

.footer-items li a {
    color: #ccc;
}

.footer-items li a:hover {
    color: #fbe40c;
}
.footer-chunk {
    margin-bottom: 20px;
}

.form-container {
    border: 1px #dfdfdf solid;
    padding: 20px 15px;
}

.form-container.compact-login-form {
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

.server-message {
    text-align: center;
}

.user {
    margin-right: 110px;
    font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 20px;
    padding-right: 15px;
    color: #333;
}

.user>a {
    outline: none;
    color: #333;
    text-decoration: none;
}

.dropdown-menu {
    border-radius: 0px;
}

.brand-name-sub.out {
    position: absolute;
    right: 5px;
    font-size: 30px;
    line-height: 2;
}

.title {
    font-size: 20px;
    margin-top: 10px;
}

.subtitle {
    font-size: 16px;
    margin-top: 5px;
}

#new-member-btn {
    margin-top: 40px;
}

.member-profile {
    width: 90px;
    height: 90px;
    float: left;
}

.member-item {
    margin-bottom: 25px;
}

.member-item a{
    text-decoration: none;
    color: #333;
}

.member-item:hover{
    background-color: #f5f5f5;
}

.member-item:hover .member-name {
    color: #806f02; 
}

.member-name {
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
}
.member-location,
.member-phone {
    margin-left: 100px;
    margin-top: -5px;
}

.member-location {
    font-size: 14px;
    white-space: nowrap;
}

.member-phone {
    margin-top: 10px;
}

#member-edit-link {
    font-size: 25px;
    margin-top: 5px;
    margin-right: 20px;
}

#member-edit-link a {
    color: white;
    text-decoration: none;
}

#member-edit-link a:hover {
    color: #fbe40c;
}

