{% extends "base.html" %}

{% block contents %}
<div class="main-contents">
    <div class="section-header">
	    <p class="section-title">{{object.first_name}} {{object.middle_name}} {{object.last_name}}</p>
	    <div class=pull-right id=member-edit-link><a href="/pastoral/members/edit/{{object.pk}}/"><span class="fa fa-edit"></span> Edit</a></div>
    </div>
    <div class="data-container" id=bussel_details>
	    <div class="data-section bussel-general-info">
	           <div class="data-section-header">
			   <p class="subsection-title">Personal Information</p>
		   </div>
		   <div class="data-section-data">
			   <div class="row">
			       <div class="col-sm-4">
				       <p>First Name: <b>{{object.first_name}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Middle Name: <b>{{object.middle_name}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Surname: <b>{{object.last_name}}</b></p>
			       </div>
			   </div>
			   <div class="row">
			       <div class="col-sm-4">
				       <p>Phone Number: <b>{{object.phone}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Email Address: <b>{{object.email_address}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Gender:<a href="#"> <b>{{object.get_gender_display}}
				       </a></b></p>
			       </div>
			   </div>
			   <div class="row">
			       <div class="col-sm-4">
				       <p>Date of Birth: <b>{{object.date_of_birth}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Place of Birth: <b>{{object.place_of_birth}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Nationality at Birth:<a href="#"> <b>{{object.get_nationality_at_birth_display}}
				       </a></b></p>
			       </div>
			   </div>
			   <div class="row">
			       <div class="col-sm-4">
				       <p>Current Nationality: <b>{{object.get_nationality_display}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Marital Status: <b>{{object.get_marital_status_display}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>Lingual Competence: <b>{{languages|join:', '}}</b></p>
			       </div>
			   </div>
		   </div>
	    </div>
	    <div class="data-section bussel-location-info">
	           <div class="data-section-header">
			   <p class="subsection-title">Residence Location Information</p>
		   </div>
		   <div class="data-section-data">
			   <div class="row">
			       <div class="col-sm-4">
				       <p>Suburb: <b>{{object.suburb}}</b> </p>
			       </div>
			       <div class="col-sm-4">
				       <p>Street: <b>{{object.street_name}}</b></p>
			       </div>
			       <div class="col-sm-4">
				       <p>House Number: <b>{{object.house_number}}</b></p>
			       </div>
			   </div>
			   <div class="map-view" id=member-location-map>
			   
			   </div>
		   </div>
	    </div>
	    <div class="data-section bussel-attendance-info">
	           <div class="data-section-header">
			   <p class="subsection-title">Membership Information</p>
		   </div>
		   <div class="data-section-data">
			   </div>
		   </div>
	    </div>
	    <div class="data-section bussel-offertory-info">
	           <div class="data-section-header">
			   <p class="subsection-title">Church Attendance Information</p>
		   </div>
		   <div class="data-section-data">
		   </div>
	    </div>
	    </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
	<script>
$(document).ready(function(){
        $("#pastoral_care_link").addClass("active");
	</script>
	<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS8X0LKzdOHcxwolQc4ivkcLjXSUqXkO8&callback=initMap">
	</script>
{% endblock %}
