<div id=footer>
	<div class="row footer-contents">
	
		<div class="col-sm-3 footer-chunk">
	             <div class="footer-header">
			     <span class="fa fa-heartbeat"></span>
                             Bussells
		     </div>
			     <ul class="footer-items">
				     <li><a href="#">Registered Bussells</a></li>
				     <li><a href="#">Latest Bussell Reports</a></li>
				     <li><a href="#">Inactive Bussells</a></li>
				     <li><a href="#">Search Reports</a></li>
				     <li><a href="#">Bussell Rankings</a></li>
			     </ul>
		</div>

		<div class="col-sm-3 footer-chunk">
	             <div class="footer-header">
			     <span class="fa fa-users"></span>
		          Pastoral Care 
		     </div>
			     <ul class="footer-items">
				     <li><a href="#">All Church Members</a></li>
				     <li><a href="#">New Church Members</a></li>
				     <li><a href="#">Inactive Members</a></li>
				     <li><a href="#">Irregular Members</a></li>
				     <li><a href="#">Church Growth Statistics</a></li>
			     </ul>
		</div>

		<div class="col-sm-3 footer-chunk">
	             <div class="footer-header">
			     <span class="fa fa-money"></span>
		          Finances
		     </div>
			     <ul class="footer-items">
				     <li><a href="#">Non-Tithing Members</a></li>
				     <li><a href="#">Expenses</a></li>
				     <li><a href="#">Financial Statistics</a></li>
			     </ul>
		</div>

		<div class="col-sm-3 footer-chunk">
	             <div class="footer-header">
			     <span class="fa fa-tachometer"></span>
		          Activities
		     </div>
			     <ul class="footer-items">
				     <li><a href="#">This Week</a></li>
				     <li><a href="#">Upcoming Events</a></li>
				     <li><a href="#">Past Events</a></li>
				     <li><a href="#">Cancelled Events</a></li>
			     </ul>
		</div>
	</div>
</div>
