<div id=footer>
	<div class="row footer-contents">
	
		<div class="col-sm-3">
	             <div class="footer-header">
			     <span class="fa fa-heartbeat"></span>
                             Bussells
		     </div>
			     <ul class="footer-items">
				     <li>registered bussells</li>
				     <li>latest bussell reports</li>
				     <li>inactive bussells</li>
				     <li>search reports</li>
			     </ul>
		</div>

		<div class="col-sm-3">
	             <div class="footer-header">
			     <span class="fa fa-users"></span>
		          Pastoral Care 
		     </div>
		</div>

		<div class="col-sm-3">
	             <div class="footer-header">
			     <span class="fa fa-money"></span>
		          Finances
		     </div>
		</div>

		<div class="col-sm-3">
	             <div class="footer-header">
			     <span class="fa fa-tachometer"></span>
		          Activities
		     </div>
		</div>
	</div>
</div>
